.App-header {
  background-color: #0b5bfa;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.Message-text {
  color: white;
  background-color: #88002d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: #88002d 1px solid;
}

.Message-btn {
  height: 50px;
  width: 100px;
  border-radius: 15%;
  background-color: #d65e86;
  color: #310011;
  font-weight: bold;
  margin: 10px 0px;

}

.Message-box {
  border: #310011 solid 1px;
  margin-top: 5px;
  display: flex;
  align-items: center;
}

.Message-chat {
  display: flex;
}

.Message-number {
  width: 10%;
  border-bottom: #310011 solid 1px;
  text-align: center;
}

.Message-body {
  width: 60%;
  border-bottom: #310011 solid 1px;
  text-align: center;
}

.Message-autor {
  width: 30%;
  border-bottom: #310011 solid 1px;
  text-align: center;
}

.Message-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Message-input {
  margin: 5px;
}